<div class="card border-secondary">
  <div class="card-header">
    <h3 class="text-center text-uppercase">Receitas cadastradas</h3>
  </div>

  <div class="card-body">
    <a class="btn btn-primary" routerLink="/receitas/formulario">
      <i class="fa fa-plus"></i> Cadastrar
    </a>

    <div class="table-responsive mt-2">
      <table *ngIf="receitas.length > 0, else vazio" class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Opções</th>
          </tr>
        </thead>

        <tbody *ngFor="let receita of receitas">
          <tr>
            <td>{{ receita.descricao }}</td>
            <td>{{ receita.valor | currency }}</td>
            <td>{{ receita.data | date:'dd/MM/yyyy' }}</td>
            <td>
              <a title="Editar" class="btn btn-info" routerLink="/receitas/{{ receita.id }}">
                <i class="fa fa-pen"></i>
              </a>

              <form (ngSubmit)="excluir(receita.id!)" class="d-inline-block mx-2">
                <button type="submit" class="btn btn-danger" title="Excluir">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #vazio>
        <p class="bg-info p-2 text-center">Nenhuma receita cadastrada</p>
      </ng-template>
    </div>
  </div>
</div>
